DeuterosX/Teraluwide.Blackbird.DataTypes/BaseTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="BaseTypes"
           targetNamespace="http://Teraluwide/Blackbird/BaseTypes"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns="http://Teraluwide/Blackbird/BaseTypes"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseLeafType">
    <xs:attribute name="Name" use="required" type="xs:string"/>
    <xs:attribute name="ContentType" use="required" type="xs:string"/>
  </xs:complexType>
</xs:schema>
