DeuterosX/Teraluwide.Blackbird.Core/GameInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FDRFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GameInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Title" type="xs:string" />
              <xs:element name="ShowEngineVersion" type="xs:boolean" />
              <xs:element name="ShowModVersion" type="xs:boolean" />
              <xs:element name="ModVersion" type="xs:string" />
              <xs:element name="Author" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Website" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Components" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Component" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>