DeuterosX/Teraluwide.Blackbird.Core/Textures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FDRFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TextureList">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Texture">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" maxOccurs="1" name="DrawArea">
                      <xs:complexType>
                        <xs:attribute name="x" type="xs:int" use="optional" />
                        <xs:attribute name="y" type="xs:int" use="optional" />
                        <xs:attribute name="width" type="xs:int" use="required" />
                        <xs:attribute name="height" type="xs:int" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="fileName" type="xs:string" use="required" />
                  <xs:attribute name="onLoad" type="xs:boolean" use="optional" />
                  <xs:attribute name="onDemand" type="xs:boolean" use="optional" />
                  <xs:attribute name="trackUsers" type="xs:boolean" use="optional" />
                  <xs:attribute name="smoothScale" type="xs:boolean" use="optional" />
                  <xs:attribute name="allowScaling" type="xs:boolean" use="optional" />
                  <xs:attribute name="scalingModifier" type="xs:float" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>